<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
      <h1 class="ilk">{{pageTitle}}</h1>
    <p><%= pageDatas %> </p>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>
